@import "tailwindcss";
@theme {
  --color-primary: #0c78ba;
  --color-secondary: #002a52;
  --color-custom-gray: #676767;
  --color-custom-gray-dark: #343434;
  --color-custom-gray-light: #eaeaea;
  --color-custom-gray-lighter: #f6f6f6;
}
:root {
  --color-background-gradient: linear-gradient(to right, #f5fdfe, #f0f7fe);
}
